body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: rgb(24, 24, 24);
}

.container {
  height: auto;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 4rem;
  background-color: #111;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.playMenu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 60px;
}

.logo {
  margin-right: 25px;
  align-items: center;
  display: flex;
}

.logo img {
  width: 93px;
  height: 25px;
}

.menu {
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-left: 20px;
  font-size: 14px;
  transition: all ease 0.3s;
}

.menu li:hover {
  opacity: 0.5;
}

.userMenu {
  width: 200px;
  height: 100%;
  margin-right: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.userMenu div {
  cursor: pointer;
}

.search {
  margin-right: 8px;
}

.profile img {
  width: 32px;
  height: 32px;
  border-radius: 8px;
}

/* feat: section (내용) */

section {
  background-color: rgb(24, 24, 24);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.mainView {
  width: 100%;
  height: 1000px;
  padding-top: 70px;
  background: linear-gradient(
      to bottom,
      rgba(20, 20, 20, 0) 10%,
      rgba(20, 20, 20, 0.25) 25%,
      rgba(20, 20, 20, 0.5) 50%,
      rgba(20, 20, 20, 0.8) 80%,
      rgba(20, 20, 20, 1) 100%
    ),
    url(./img/mainVideo.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.mainPhoto {
  width: 100%;
}

.intro {
  padding: 30px 60px;
  width: 36%;
  height: 70%;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  margin-bottom: 30px;
  justify-content: space-around;
}

.bt {
  line-height: 88%;
  margin-top: 1.5vw;
  white-space: nowrap;
}

.bt button {
  height: 58px;
  font-size: 15pt;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

.bt button:hover {
  opacity: 0.7;
}

.play {
  width: 100px;
  color: #111;
  margin-right: 5px;
  padding-left: 2rem;
  padding-right: 2.4rem;
}

.infor {
  width: 150px;
  background-color: gray;
  opacity: 0.8;
  color: #fff;
  padding-left: 2rem;
  padding-right: 2.4rem;
}

h3 {
  padding: 20px 0;
}

.contents {
  color: white;
  padding: 0 60px;
}

.video {
  font-size: 1.9rem;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.videoList {
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
}

.list {
  margin: 0 auto;
  height: auto;
  gap: 0.5em;
  display: grid;
  grid-template-columns: 350px 350px 350px 350px 350px;
  column-gap: 10px;
}

.videoList img {
  border-radius: 5px;
  cursor: pointer;
  height: auto;
}

footer {
  width: 60%;
  margin: 0 auto;
  background-color: rgb(24, 24, 24);
  color: grey;
  padding: 0 4%;
  display: flex;
  flex-direction: column;
}

.social {
  display: flex;
  margin-bottom: 0.5em;
}

.socialLinks {
  display: flex;
  flex-direction: row;
}

.socialLink {
  width: 36px;
  height: 25px;
  margin-left: 15px;
}

.social .socialLinks i {
  color: #fff;
  display: flex;
}

.infoLink {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 13px;
  margin: 0 0 14px;
  padding: 0;
}

.infoList {
  box-sizing: border-box;
  flex: 0 0 25%;
  list-style-type: none;
  margin-bottom: 16px;
  cursor: pointer;
}

.infoList a {
  color: gray;
}

.infoList:hover {
  text-decoration: underline;
}

.code {
  font-size: 13px;
}

.code button {
  font-size: 13px;
  margin-bottom: 20px;
  padding: 0.5em;
  background: transparent;
  border: 1px solid grey;
  color: grey;
  cursor: pointer;
}

.code button:hover {
  color: #fff;
}

.copyText {
  font-size: 11px;
  margin-bottom: 15px;
}

.copyTextBlock {
  margin: 8px 0 0;
}

.copyTextBlock a {
  color: gray;
}

.copyTextBlock a:hover {
  text-decoration: underline;
}

@media (max-width: 1880px) {
  .video {
    width: auto;
    font-size: 1.5rem;
  }
  .list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1500px) {
  .mainView {
    height: 100%;
  }
  .bt button {
    font-size: 10pt;
    text-align: center;
  }
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1000px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 950px) {
  .menu {
    display: none;
  }
}
@media (max-width: 830px) {
  .list {
    grid-template-columns: repeat(1, 1fr);
  }
}
